{% load static %}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My market 2020</title>
    <link rel="stylesheet" href="../../static/website/css/estilo.css">
</head>
<body>

    <header>
       
        <br>
        <h1>Martek View</h1>
        
        <br>
    </header>
    <section>
        <nav id="menu">
            <ul>
             
            <li><a href="#">Inicio</a></li>
            <li class="barra">|</li>
            <li><a href="#">Contacto</a></li>
            <li class="barra">|</li>

            <li><a href="#">Servicios</a></li>
            <li class="barra">|</li>

            <li><a href="#">Ayuda</a></li>
            <li class="barra">|</li>

            <li><a href="#">Soporte</a></li>
            <li class="barra">|</li>

            <li><a href="#">Blog</a></li>


            </ul>


        </nav>
        

        <article >
         
           <br> 
        
            <div id="toyota">
                <div id="ford">
                   <div id="benz">
                    <div id="texto">
                        <h2>PRODUCTOS RECIENTES</h2>
                        
                        <p>Somos una cadena de tiendas que ofrece los mejores souvenirs de Colombia y sus regiones y estamos presentes en todos los aeropuertos principales del país
                             para ofrecer regalos llenos de la cultura y el sabor de nuestra tierra.

                        </p>
        
                        
                           <p> Nuestra meta es lograr que los viajeros locales y extranjeros encuentren en nuestras tiendas los souvenirs más llamativos,exclusivos y representativos de Colombia y sus ciudades principales. 
                               Para ello nos esforzamos en seleccionar cuidadosamente nuestros productos y en diseñar empaques y souvenirs completamente originales.

                        </p>
                    </div>
                   </div>
                </div>
             </div>
            
          <article>
              <br>
              <br>
             <p>© 2020 Market.View Todos los derechos reservados.</p> 
             <p>© Politica de privacidad</p> 
          </article>  
           

           

       

        
    </section>
    
   
    
</body>
</html>